.logo {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(100, 76, 206, 0.535);
}

.logo-title-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.nav-title,
.navlink {
  color: rgb(255, 9, 9);
}

.nav-list {
  display: flex;
  gap: 2rem;
  font-size: 24px;
}

.nav-rockets {
  padding-right: 2rem;
}

.nav-my-profile {
  border-left: 1px solid #000;
  padding-left: 2rem;
}
