@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-div {
  padding: 1rem;
  border-bottom: 2px solid rgb(218, 218, 218);
}

.navUl {
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  /* color: white; */
}

body {
  /* background-image: url(http://i39.servimg.com/u/f39/17/72/50/13/juegos11.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Marvel', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

h1 {
  color: whitesmoke;
}
